.sidebar-brand-item {
    padding: 0.25rem;
    outline: none;
    text-align: center;
    color: black;
    text-decoration: none;
}

.sidebar-brand-item:hover {
    text-decoration: none;
}

.sidebar-item-content {
    margin-left: 2.5em;
    font-weight: 500;
}

.sidebar-item {
    list-style-type: none;
    border-bottom: 0.0375em solid rgba(0, 0, 0, 0.15);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sidebar-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
    background-clip: border-box;
    cursor: pointer;
}

.sidebar-list {
    padding-left: 0 !important;
    outline: none;
    display: grid !important;
    grid-template-rows: auto auto auto;
}

.sidebar-list:focus {
    padding-top: 2.5rem;
    padding-left: 0 !important;
    outline: none;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
    outline: none;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
    position: fixed;
    height: 100%;
    width: 30rem;
}

/* General sidebar styles */
.bm-menu {
    background: linear-gradient(
        180deg,
        rgba(70, 156, 147, 1) 0%,
        rgba(22, 53, 49, 1) 100%
    );
    padding: 0 0 0 !important;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
    padding: 0 !important;
}

/* Individual item */
.bm-item {
    display: inline-block;
    color: black !important;
    text-decoration: none !important;
}

.bm-item:hover {
    text-decoration: none !important;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}
